.center
{
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

/* Bootstrap Modifications */
/* Colorize Modal Header */
.navbar {
    border-radius: 0px;
}
.navbar-default {
    background-color: #333333;
    border-color: #222222;
}
.navbar-default .navbar-brand {
    color: #fafafa;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #272727;
}
.navbar-default .dropdown-menu {
    background-color: #333333;
}
.navbar-default .dropdown-menu > li > a,
.navbar-default .dropdown-menu > li > a:focus {
    color: #ffffff;
}
.navbar-default .dropdown-menu > li > a:hover,
.navbar-default .dropdown-menu > .active > a,
.navbar-default .dropdown-menu > .active > a:hover {
    background-color: #272727;
}
.dropdown-menu {
    border: none;
    border-radius: 0px;
}
